extends layout

block content
  h1 To Do Items
  table
    thread
      tr
        th Description
        th Completed?
    tbody
      each item in toDoItems
        tr
          td= item.description
          td= item.completed
